body{
    /* background: url('gv.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: absolute; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: hidden;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    height: 10vh;
    border-bottom: ghostwhite 1px solid;
    border-top: ghostwhite 1px solid;
    width: 100%;
    transition: 0.3s ease;
}

.logo{
    letter-spacing: -6px;
    text-decoration: none;
    font-size: 3rem;
    font-family: a;
    /* margin-left: 5%; */
    padding: 10px;
    color: ghostwhite;
    /* border-right: ghostwhite 2px solid; */
    transition: 0.3s ease;
}

.btn{
    color: ghostwhite;
    text-decoration: none;
    padding: .5rem 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: ghostwhite 0px 0px 5px;
    border-radius: 10px;
    border: ghostwhite 1px solid;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: ghostwhite;
    color: black;
    box-shadow: ghostwhite 0px 0px 15px;
    transition: 0.3s ease;
}

/* header p {
    font-size: 2rem;
    color: ghostwhite;
} */

nav{
    padding: 20px;
}

nav ul{
    gap: 25px;
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0;
    padding: 0;
}

nav a{
    color: ghostwhite;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover{
    background-color: ghostwhite;
    color: black;
    box-shadow: ghostwhite 0px 0px 15px;
}






.menu-toggle{
  display: none;
  background: none;
  border: none;
  color: ghostwhite;
  font-size: 2rem;
  cursor: pointer;
}
/* ========================= */
/* FINAL DO HEADER */


/* ========================= */










/* Celular */
@media (max-width: 700px) {
 header{
    /* position: fixed;
    display: flex; */
    justify-content: space-between;
    /* align-items: center;
    background-color: rgba(0, 0, 0, 0.5); ;
    backdrop-filter: blur(5px);
    height: 10vh;
    border-bottom: ghostwhite 1px solid;
    border-top: ghostwhite 1px solid;
    width: 100%; */
}

.logo{
    /* letter-spacing: -6px;
    text-decoration: none; */
    font-size: 2.5rem;
    /* padding: 10px;
    color: ghostwhite; */
}

.btn{
    /* color: ghostwhite;
    text-decoration: none; */
    padding: .4rem 1rem;
    margin-right: 1.5vh;
    /* font-weight: bold;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: ghostwhite 0px 0px 5px;
    border-radius: 10px;
    border: ghostwhite 1px solid;
    transition: 0.3s; */
}

nav {
    display: none;
    padding: 20px;
  }

  /* --- INÍCIO DAS ALTERAÇÕES PARA O MENU RESPONSIVO --- */
  /* Esconde o nav-menu por padrão no mobile */
  .nav-menu {
    display: block;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 100vh;
    width: 45vw;
    background: rgba(0,0,0,0.97);
    z-index: 100;
    /* box-shadow: ghostwhite 0px 0px 5px; */
    border-right: ghostwhite 1px solid;
    border-top: ghostwhite 1px solid;
    transform: translateX(-110%);
  }

  /* Mostra o nav-menu como uma aba lateral quando ativo */
  .nav-menu.active {
    display: block;
    transform: translateX(-1%);
    transition: 0.5s ease-in-out;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    padding: 40px 20px;
  }

  .nav-menu a {
    font-size: 1.3rem;
    /* border-bottom-width: 100%; */
    border-radius: 0px;
    width: 100rem;
    border-bottom: ghostwhite 1px solid;
  }

  .nav-menu a:hover {
    background-color: transparent;
    opacity: .7;
    color: ghostwhite;
    box-shadow: none;
  }
  /* --- FIM DAS ALTERAÇÕES PARA O MENU RESPONSIVO --- */

  nav {
    display: block;
    padding: 0;
  }

  .menu-toggle {
    display: flex;
    background: none;
    align-content: center;
    justify-content: center;
    padding: 2px 5px;
    margin-left: .5vh;
    border-radius: 5px;
    color: ghostwhite;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-toggle:hover {
    text-shadow: ghostwhite 0px 0px 20px;
  }
}
